<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand fs-4" href="students">  <img src= "https://i.ibb.co/89rHKTZ/output-onlinepngtools-2.png" width="60" height="60" alt="">FILCSS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-center fs-4" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white btn btn-primary" href="/students">Profile Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white btn btn-primary" href="/academics">Academic Information</a>
          </li>
        </ul>
      </div>
      <a class="navbar-brand" href="/">  <img src= "https://i.ibb.co/YPdvksd/output-onlinepngtools-3.png" width="60" height="60" alt=""></a>
    </did>
</nav>