{% extends "layout/base.html" %}

{% block title %}
List of Gender
{% endblock title %}

{% block content %}

<a href="genders/create" class="btn btn-outline-primary "style= "width: 200px"> Add Gender</a>
{% include 'include/messages.html' %}
<div class="mx-auto p-2" style="width: 1000px;">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Gender ID</th>
                    <th>Gender</th>
                    <th>Date Created</th>
                    <th>Date Updated</th>
                </tr>
            </thead>
            <tbody>
                {% for gender in genders  %}
                <tr>
                    <td>{{gender.gender_id}}</td>
                    <td>{{gender.gender}}</td>
                    <td>{{gender.created_at}}</td>
                    <td>{{gender.updated_at}}</td>
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}